<%= erb :'includes/page_top' %>

<h1>About Wen</h1>

<hr />

<h2>Code</h2>

<p>
Wen is built and maintained by <a href='http://sam.pikesley.org'>Sam Pikesley</a>. The code is <a href='https://github.com/pikesley/wen'>on Github</a>, released under the <a href='https://pikesley.mit-license.org/'>MIT License</a>. Despite my best efforts, it will be riddled with bugs. If it stops playing nice, your best bet is probably to switch it off and on again
</p>

<hr />

<h2>Documentation</h2>

<p>
The full documentation for the project can be found <a href='http://sam.pikesley.org/projects/wen/'>here</a>. There is a also <a href='https://www.youtube.com/watch?v=FGRnSwF10Dw&feature=youtu.be'>a movie</a>
</p>

<hr />

<h2>Align Your Clock</h2>

<p>
  Click <a href='#' onclick='submit("align_clock")'>here</a> to turn on <em>alignment mode</em>: you should rotate the clock so that the line formed by the four lights is vertical, with red at the top
</p>

<hr />
<!--
<h2>Issues</h2>

<p>
Issues / suggestions / pull-requests can be submitted <a href='https://github.com/pikesley/wen/issues'>here</a>
</p>

<hr />-->
<!--
<h2>Who is Wen?</h2>

<p>
<a href='http://wiki.lspace.org/mediawiki/Wen_the_Eternally_Surprised'>Wen the Eternally Surprised</a> is a <a href='http://wiki.lspace.org/mediawiki/History_Monks'>History Monk</a> who appears in the Discworld book <a href='http://wiki.lspace.org/mediawiki/Book:Thief_of_Time'>Thief of Time</a>
</p>

<hr />
-->

<div id='build-data'>
  <% g = Git.open('.').log.first %>
  <table class='table table-condensed table-bordered'>
    <tr>
      <td rowspan='4' class='build-slide-tab' class='clickable' onclick="showHide()">
      <th colspan='4' class='show-build-data'>About this build</th>
      <td rowspan='4' class='build-slide-tab' class='clickable' onclick="showHide()">
      </td>
    </tr>
      <tr>
        <td class='key'>SHA</td>
        <td class='value' colspan='3'><a href='<%= "#{Wen::Config.instance.config['github_url']}/tree/#{g.sha}" %>'><%= g.sha %></a></td>
      </tr>
      <tr>
        <td class='key'>Author</td>
        <td class='value'><%= g.author.name %></td>
        <td class='key'>Date</td>
        <td class='value'><%= g.date.utc.strftime '%Y-%m-%d %H:%M:%S UTC' %></td>
      </tr>
  </table>
</div>

<script>
$('.build-slide-tab').html(arrows('right'))

function submit(trick) {
  $.ajax({
      url: '/tricks/',
      data: JSON.stringify({ trick: trick }),
      type: 'POST',
      contentType: 'application/json'
  })
}

function showHide() {
  if ($('#build-data').attr('style') == 'right: 5%' ) {
    $('#build-data').attr('style', 'right: 95%')
    $('.build-slide-tab').html(arrows('right'))
  } else {
    $('#build-data').attr('style', 'right: 5%')
    $('.build-slide-tab').html(arrows('left'))
  }
}

function arrows(direction) {
  s = ''
  for (i = 0; i < 1; i++) {
    s += "<i class='icon-arrow-" + direction + "'></i>"
  }

  return s
}
</script>
