<!DOCTYPE html>
<html lang='en'>
  <%= erb :'includes/header' %>
  <body>
    <%= erb :'includes/github-corner' if @github_url %>
    <div class='container'>
      <%= erb :'includes/nav' %>
      <div class='animsition' id='animsition'>
        <%= yield %>
      </div>
    </div>
    <%= erb :'includes/footer' %>
  </body>
</html>
