<h1><%= @title %></h1>
<div class='row' id='modes'>
  <% Wen::Config.instance.config['clock-modes'].each do |mode| %>
    <div class='col-xs-12'>
      <button class='btn btn-block btn-default'
              id='<%= mode["name"] %>-mode'
              title='<%= mode["what"] %>'
              onclick='submit("<%= mode["name"] %>")'>
        <%= mode["name"] %>
      </button>
    </div>
  <% end %>
</div>

<script>
refresh()

function submit(mode) {
  $.ajax({
    url: '/mode/',
    data: JSON.stringify({ mode: mode }),
    type: 'POST',
    async: false,
    contentType: 'application/json',
    //complete: $(location).attr('href', '/colours')
    complete: refresh
  })
}

function refresh() {
  $('#modes button').each(function() {
    $(this).removeClass('btn-active').addClass('btn-default')
  })

  $.getJSON('/mode/', function(data) {
    $('#' + data['mode'] + '-mode').removeClass('btn-default').addClass('btn-active')
  })

  $("#modes button").mouseup(function() {
    $(this).blur()
  })
}
</script>
