<h1><%= @title %></h1>
<div id='modes'>
  <div class='row'>
    <% Wen::Config.instance.config['clock-modes'].each do |mode| %>
        <div class='col-xs-4'>
          <div class="btn-group">
            <button type='button' class='btn btn-default <%= mode["name"] %>-mode'
                    id='<%= mode["name"] %>-mode'
                    title='<%= mode["what"] %>'
                    onclick='submit("<%= mode["name"] %>")'>
              <%= mode["name"] %>
            </button>
            <button type='button' class='btn btn-default modal-toggle <%= mode["name"] %>-mode' data-target='#<%= mode["name"] %>-modal' data-toggle='modal'>
                <i class='fa fa-ellipsis-h'></i>
            </button>
          </div>
        </div>
    <% end %>
  </div>
</div>

<% Wen::Config.instance.config['clock-modes'].each do |mode| %>
  <div class='modal fade mode-modal' id='<%= mode["name"] %>-modal' role='dialog'>
    <div class='modal-dialog modal-sm'>
      <div class='modal-content'>
        <div class='modal-body'>
          <h2><%= mode["name"] %> clock</h2>
          <p>
            <%= mode['what'] %>
          </p>
          <p class='current-mode' id='<%= mode["name"] %>-is-current'>This mode is currently selected</p>
          <button class='btn btn-default <%= mode["name"] %>-mode mode-picker'
                  id='<%= mode["name"] %>-mode-modal-button'
                  title='<%= mode["what"] %>'
                  onclick='submit("<%= mode["name"] %>")'
                  data-dismiss='modal'>
            pick this
          </button>
          <button class='btn btn-warning mode-canceller' id='<%= mode["name"] %>-mode-modal-cancel' data-dismiss='modal' aria-label='Close'>
            leave things as they are for now
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
refresh()

function submit(mode) {
  $.ajax({
    url: '/mode/',
    data: JSON.stringify({ mode: mode }),
    type: 'POST',
    async: false,
    contentType: 'application/json',
    //complete: $(location).attr('href', '/colours')
    complete: refresh
  })
}

function refresh() {
  $('#modes button').each(function() {
    $(this).removeClass('btn-active').addClass('btn-default')
  })

  $('.mode-picker').each(function() {
    $(this).show()
    $(this).removeClass('btn-active').addClass('btn-default')
  })

  $('.mode-canceller').each(function() {
    $(this).text('leave things as they are for now')
  })

  $('.current-mode').each(function() {
    $(this).hide()
  })

  $.getJSON('/mode/', function(data) {
    $('.' + data['mode'] + '-mode').removeClass('btn-default').addClass('btn-active')
    $('#' + data['mode'] + '-is-current').show()
    $('#' + data['mode'] + '-mode-modal-button').hide()
    $('#' + data['mode'] + '-mode-modal-cancel').text('this button closes this window')
  })

  $("#modes button").focus(function() {
    this.blur()
  })

}
</script>
