<h2><%= @title %></h2>
<div class='row'>
  <% Wen::Config.instance.config['trick-modes'].each do |mode| %>
    <div class='col-xs-12'>
      <button class='btn btn-default btn-block' id='display-<%= mode["method"] %>' onclick='submit("<%= mode["method"] %>")'>
        <% display_name = mode['method'] %>
        <% display_name = mode['display_name'] if mode['display_name'] %>
        <%= display_name %>
        <!--<i class='fa fa-<%= mode["fa"] %>'></i>-->
      </button>
    </div>
  <% end %>
</div>

<script>
function submit(mode) {
  $.ajax({
      url: '/display/',
      data: JSON.stringify({ mode: mode }),
      type: 'POST',
      contentType: 'application/json'
  })
}
</script>
