<h1><%= @title %></h1>
<div class='row'>
  <% Wen::Config.instance.config['trick-modes'].each do |trick| %>
    <div class='col-xs-12'>
      <button class='btn btn-default btn-block' id='display-<%= trick["method"] %>' onclick='submit("<%= trick["method"] %>")'>
        <% display_name = trick['method'] %>
        <% display_name = trick['display_name'] if trick['display_name'] %>
        <%= display_name %>
      </button>
    </div>
  <% end %>
</div>

<%= erb :'javascript/tricks.js' %>
