<h1><%= @title %></h1>
<div class='row'>
    <% Wen::Config.instance.config['trick-modes'].each do |trick| %>
      <div class='col-xs-4 col-sm-4 col-md-4'>
        <button id='display-<%= trick["method"] %>' class='btn trick-btn' onclick='submit("<%= trick["method"] %>")'>
            <% display_name = trick['method'] %>
            <% display_name = trick['display_name'] if trick['display_name'] %>
            <%= display_name %>
        </button>
      </div>
    <% end %>
  </div>
</div>
</div>

<%= erb :'javascript/tricks.js' %>
